@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #5a5a5a;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(17, 0, 0, 0.4);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: none;
  }




.all_cards_img{
    border-radius: 20px;
    width: 100%;
    height: 345px;
    object-fit: cover;
}

.main_class_title {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
}



.main_card { 
    width: 97%;
    height: 40%;
    padding: 150px 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: rgb(56, 56, 56);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, rgb(113, 255, 57), rgb(0, 73, 6));
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #805454;
    color: #ffffff;
    background-image: linear-gradient(to left, rgb(10, 10, 10), rgb(3, 3, 3));
}

h1, h2, p {
    margin: 0;
}


img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.main-list {
    display: flex;
    align-items: center;
    gap: 20px;
}


.main__title_black {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
    color: #ffffff;
    text-decoration: underline;

}


.main__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
    color: #000;
    text-decoration: underline;

}

.cards-list {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    column-gap: 50px;
    justify-content: center;
}

.card {
    width: 1200px;
    height: 500px;
    transition: 0.2s;
    background-image: linear-gradient(to right, rgb(5, 19, 0), rgb(4, 22, 0));
    
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);

}



.card__text {
    border-top: 1px solid rgb(14, 233, 32);
    width: inherit;
    display: flex;
    padding: 50px 0 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color:#ffffff;
}

.card__title {
    padding: 0 20px;
    text-align: center;
}
.card__subtitle {
    padding: 0 20px;
    text-align: center;

}

.card__img {
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.creat__link {
    display: block;
    width: inherit;
    height: inherit;
    background-size: 200px 200px;
    background-position: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 80px;
    margin-left: 160px;
    color:#ffffff;
}

.card--creat {
    height: 200px;
}

.card--creat:hover,
.card:hover {
    box-shadow: 0px 4px 10px rgb(1, 255, 14);
}

.creat-form {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    width: 100%;
    height: 700px;
    padding: 0 20px 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(113, 255, 57), rgb(0, 73, 6));
    
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

.create_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.create_inputs {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs label {
    width: 80%;
}

.form__input {
    background: #c5c5c5;
    border-radius: 10px;
    padding: 10px;
    height: 30px;
    color: #000000;
    font: inherit;
    border: none;
    width: 94%;
    align-items: center;
}

.form__card label {
    width: 80%;
}

.form__text {
    background: #000000;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font: inherit;
    border: none;
    width: 94%;
    align-items: center;
}

.form__button {
    border: 1px solid rgb(0, 0, 0);
    background: #1f1f1f;
    border-radius: 10px;
    color: rgb(204, 204, 204);
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.form__button:hover {
    color: #585858;
    background:  rgb(158, 158, 158);
}

.main {
    padding: 0 5%;
    background-position: center top;
}

.main__block {
    background-image: linear-gradient(to right, rgb(113, 255, 57), rgb(0, 73, 6));
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.main__text {
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
    color: #000000;
}

.main__link {
    display: block;
    border: 1px solid rgb(50, 51, 50);
    background: #242424;
    border-radius: 10px;
    color: rgb(48, 48, 48);
    padding: 15px 10px;
    font: inherit;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.main__link:hover {
    color: #5a5a5a;
    background:  rgb(41, 41, 41);
}


.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 50%;
    padding: 150px 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: rgb(56, 56, 56);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, rgb(113, 255, 57), rgb(0, 73, 6));
    
}


.login label {
    width: 60%;
}


.reg__link {
    height: fit-content;
    text-align: center;
    padding: 15px 0px;
}

.error {
    font-size: 10px;
    color: #ffffff;
}

.login__link:hover {
    color: rgb(59, 99, 53);
}

.main_card_link {
    display: block;
    border: 1px solid rgb(50, 51, 50);
    background-image: linear-gradient(to right, rgb(31, 31, 31), rgb(36, 36, 36));
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    font: inherit;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}


.card_user_img {
    display: block; /* Делает изображение блочным элементом */
    margin-left: auto; /* Задаёт автоматический отступ слева */
    margin-right: auto; /* Задаёт автоматический отступ справа */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}


.main_card_link:hover {
    color: #5a5a5a;
    background:  rgb(41, 41, 41);
}

.main_info_title {
    font-size: 1px;
    text-align: center;
}

.kolontitul {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2px;
}

.ss {
  box-shadow: 0 5px 15px 0 rgb(0, 255, 00);
  transition: 0.5s;
  background-color: #000000;
  font-size: 35px;
  padding: 20px; 
  border-radius: 10px;
  color: #ffffff;
  margin-left: -20px;
}

.ss_res { 
  box-shadow: 0 5px 15px 0 rgb(0, 255, 00);
  transition: 0.5s;
  background-color: #000000;
  font-size: 35px;
  padding: 20px; 
  border-radius: 10px;
  color: #ffffff;
  margin-left: -20px;

}

.test-title  {
        text-align: center;
        font-size: 30px;
        line-height: 1;
    margin-bottom: 25px;
}

.test-text {
        text-align: center;
        font-size: 25px;
        line-height: 0.5;
    margin-bottom: 20px;
}

.results {
        text-align: center;
        font-size: 25px;
        line-height: 0.5;
    margin-bottom: 20px;}


.ss:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 0px 0 rgb(0, 255, 00);
    background-color: #111111
}


.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
    box-shadow: 0 5px 15px 0 rgb(0, 255, 00);
    border-radius: 20px;
}
.card__link:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 10px 0 rgb(0, 255, 00);
    background-color: #111111
}

.kolontitul2 {

    justify-content: center;
    margin-left: -1500px;
}

.header {
    border:  #000;
    background: #000000;
    border-style: solid;
    box-shadow: 10px 10px 40px 0 rgb(36, 59, 36);
}

.img_in_card {
    border-radius: 20px;
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.main_card_title {
   font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
    color: #000000;
    text-decoration: underline;
    background-image: linear-gradient(to right, rgb(113, 255, 57), rgb(0, 73, 6));
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 40px 0 rgb(0, 255, 00);

}
.main_card_text{
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
    color: #ffffff;
}



/* инфо */
.info_title {
    text-align: center;
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.info_text {
    text-align: center;
        font-size: 30px;
        line-height: 1.5;
    margin-bottom: 100px;
}

.info_text2 {
    text-align: center;
        font-size: 30px;
        line-height: 1.5;
    margin-bottom: 42px;
}
.info_title2 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info_logo { 
  display: block;
  margin: 0 auto;
}


/* инфо */






.search-form {
    margin-left: -10px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  max-width: 400px;
  font-family: 'Arial', sans-serif;
}

/* Стиль для поля ввода */
.search-form input[type="text"] {
  flex: 1;
  padding: 12px 20px;
  border: 2px solid rgb(0, 255, 00); /* зеленая граница */
  border-radius: 25px 0 0 25px; /* скругление слева */
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

/* При фокусе: изменение границы и тени */
.search-form input[type="text"]:focus {
  border-color: rgb(0, 255, 00); /* светло-зеленый при фокусе */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Стиль для кнопки */
.search-form button {
  padding: 12px 25px;
  background-color: rgb(0, 255, 00); /* базовый зеленый */
  border: none;
  border-radius: 0 25px 25px 0; /* скругление справа */
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* При наведении на кнопку */
.search-form button:hover {
  background-color: rgb(0, 255, 00); /* более темный зеленый */
}