<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>курсы</title>
</head>
<body>
        <header class="header">
    
        <img src="../static/img/logo.png" alt="logo" width="100" height="100">
        <i class="kolontitul"></i>
        <a href="/all" class="ss"> Главная </a>

        <a href="/index" class="ss"> Мои посты </a>
        <a href="/info-al" class="ss"> Информация </a>
    </i>
    <ul class="main-list">
    </ul>
            <ul class="main-list">
    </ul>

  </header>
         <p class="info_text"> Угрозы жизни и здоровью человека: роль глобального потепления

Современный мир сталкивается с множеством вызовов, угрожающих жизни и здоровью человека. Среди них особое место занимает глобальное потепление — один из проявлений изменения климата, вызываемый антропогенной деятельностью. Это явление не только влияет на экологию планеты, но и непосредственно сказывается на здоровье человечества, вызывая новые риски и усугубляя существующие проблемы. </p>
<h1 class="info_title2">Глобальное потепление и его влияние на окружающую среду</h1>         
        <p class="info_text"> </p>
         <p class="info_text">Глобальное потепление обусловлено ростом концентрации парниковых газов в атмосфере — прежде всего углекислого газа (CO₂), метана (CH₄) и закиси азота (N₂O). Это приводит к повышению средней температуры поверхности Земли, таянию ледников, повышению уровня моря и изменению климата во многих регионах мира. Такие изменения создают негативную среду для жизни человека, а также для животных и растений.</p>
        
         <h1 class="info_title2">Последствия глобального потепления для здоровья человека</h1>
         <p class="info_text">1. Экстремальные погодные условия: увеличение количества штормов, наводнений, засух и температурных скачков повышают риски травм, болезней и смертности. Особенно уязвимы в этом плане люди преклонного возраста, дети и жители бедных районов. </p>
         <p class="info_text">2. Распространение болезней: изменение климата способствует расширению ареалов переносчиков болезней, таких как комары, вызывающие малярию, вирус Денга и другие инфекционные заболевания. Теплый и влажный климат способствует их размножению и распространению. </p>
          <p class="info_text">3. Проблемы с качеством воздуха: повышение температуры и изменение атмосферных условий способствуют увеличению концентрации загрязняющих веществ и аллергенов, таких как пыльца, что ухудшает качество воздуха и становится причиной респираторных заболеваний, астмы и аллергий</p>
          <p class="info_text">4. Потеря продовольственной безопасности: изменение климата негативно сказывается на земледелии, сокращая урожаи и увеличивая голод и недоедание, что ведет к снижению иммунитета и повышенной восприимчивости к болезням.</p>
          <p class="info_text">5. Психологические последствия: на фоне стихийных бедствий, вызванных глобальным потеплением, возрастает количество случаев стресса, тревожных расстройств и депрессий.</p>
       
          <h1 class="info_title2">Меры по снижению угроз</h1>
          <p class="info_text">Для минимизации рисков, связанных с глобальным потеплением, необходимо предпринимать как глобальные, так и локальные меры: сокращение выбросов парниковых газов, переход на возобновляемые источники энергии, развитие экологически чистых технологий, а также укрепление систем здравоохранения и готовности к чрезвычайным ситуациям.</p>
          
           <h1 class="info_title2">Заключение</h1>
           <p class="info_text">Глобальное потепление — это не только экологическая проблема, она напрямую угрожает жизни и здоровью каждого человека. Совместные усилия государства, бизнеса и гражданского общества позволяют уменьшить негативные последствия этого явления и обеспечить более безопасное и здоровое будущее для всех. Осознание этих угроз и активное участие в их предотвращении — важнейшая задача современности.</p>
       
       
    <h1>Ответьте на вопросы</h1>
    <form action="{{ url_for('submit_al') }}" method="post">
{% for question in questions %}
    {% set i = loop.index %}
    <p><strong>Вопрос {{ i }} ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong> {{ question | safe }}</p>
    <input type="text" name="Вопрос: {{ i }}" required>
{% endfor %}
        <button type="submit">Отправить ответы</button>
    </form>
</body>
</html>