<!DOCTYPE html>
<html lang="en">
      <link rel="stylesheet" href="../static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <header class="header">
    
        <img src="../static/img/logo.png" alt="logo" width="100" height="100">
        <i class="kolontitul"></i>
        <a href="/all" class="ss"> Главная </a>
        <a href="/index" class="ss"> Мои посты </a>
        <a href="/" class="ss"> выйти </a>
        <a href="/courses" class="ss"> Курсы </a>
    </i>
        <ul class="main-list">
    </ul>
        <ul class="main-list">
    </ul>
                    <ul class="main-list">
    </ul>
  </header>
    <title>Описание сайта:</title>
    <h1 class="info_title"> Информация о сайте PostLime </h1>
    <p class="info_text"> С самого начала этот сайт задумывался как платформа для обмена идеями, новостями и полезной информацией между пользователями. Его основная цель — создать удобное пространство, где люди смогут делиться своими мыслями, достижениями и интересными находками, а также оставаться в курсе актуальных событий и трендов. </p>

    
    <p class="info_text">Помимо этого, на сайте предусмотрена возможность прохождения небольших образовательных курсов, посвящённых важной теме — угрозе жизни и здоровью человека. Эти курсы разработаны для того, чтобы помочь людям лучше понять риски и меры по их предотвращению, повысить уровень осведомлённости и сформировать навыки, необходимые для защиты себя и своих близких.</p>

    <p class="info_text">Мы надеемся, что наш ресурс станет не только местом для общения и обмена информацией, но и полезным инструментом для личного развития и повышения уровня безопасности каждого пользователя.</p>

    <h1 class="info_title2"> Писал код:</h1>
    <p class="info_text2"> - Алексей Алеков - </p>

    <h1 class="info_title2"> рисовал логотип:</h1>
    <p class="info_text2"> - Илья Алеков -  </p>

    <h1 class="info_title2"> тестировщики:</h1>
    <p class="info_text2">  - Павел Алеков -</p>
    <p class="info_text2"> - Илья Алеков -  </p>
    <p class="info_text2"> - Светлана Алекова - </p>

    <img class="info_logo" src="../static/img/logo.png" alt="logo" width="420" height="420">
</head>
<body>

</body>
</html>